@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  color: #fff;
  background-color: #2d3748;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #b2f5ea;
}

#down-arrow {
  position: absolute;
  bottom: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

section#home {
  background: 
    /* top, transparent red */ linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    /* bottom, image */ url(../public/img/gym.jpg) no-repeat center center/cover;
}

section#about {
  background: 
    /* top, transparent red */ linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    /* bottom, image */ url(../public/img/gym2.jpg) no-repeat center center/cover;
}
